Iniciador.json
{
  "name": "Iniciador",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6,12,18 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "8e713a2c-aa9d-46f6-93ed-6a90ecc558b1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const ANIMALITOS = {\n  \"0\": \"Delfin\", \"00\": \"Ballena\", \"1\": \"Carnero\", \"2\": \"Toro\",\n  \"3\": \"Ciempies\", \"4\": \"Alacran\", \"5\": \"Leon\", \"6\": \"Rana\",\n  \"7\": \"Perico\", \"8\": \"Raton\", \"9\": \"Aguila\", \"10\": \"Tigre\",\n  \"11\": \"Gato\", \"12\": \"Caballo\", \"13\": \"Mono\", \"14\": \"Paloma\",\n  \"15\": \"Zorro\", \"16\": \"Oso\", \"17\": \"Pavo\", \"18\": \"Burro\",\n  \"19\": \"Chivo\", \"20\": \"Cochino\", \"21\": \"Gallo\", \"22\": \"Camello\",\n  \"23\": \"Cebra\", \"24\": \"Iguana\", \"25\": \"Gallina\", \"26\": \"Vaca\",\n  \"27\": \"Perro\", \"28\": \"Zamuro\", \"29\": \"Elefante\", \"30\": \"Caiman\",\n  \"31\": \"Lapa\", \"32\": \"Ardilla\", \"33\": \"Pescado\", \"34\": \"Venado\",\n  \"35\": \"Jirafa\", \"36\": \"Culebra\"\n};\n\nconst items = $input.all();\nconst resultados = [];\n\nfor (const item of items) {\n  const html = item.json.data || item.json.body || \"\";\n  \n  // 1. Extraer fecha del datepicker o del título\n  let fechaPagina = \"\";\n  const fechaMatch = html.match(/id=\"datepicker\"[^>]*value=\"(\\d{4}-\\d{2}-\\d{2})\"/);\n  if (fechaMatch) {\n    fechaPagina = fechaMatch[1];\n  } else {\n    const tituloMatch = html.match(/el dia <strong>(\\d{1,2}) de ([a-z]+) de (\\d{4})/i);\n    if (tituloMatch) {\n      const meses = {enero:'01',febrero:'02',marzo:'03',abril:'04',mayo:'05',junio:'06',\n                     julio:'07',agosto:'08',septiembre:'09',octubre:'10',noviembre:'11',diciembre:'12'};\n      const mes = meses[tituloMatch[2].toLowerCase()];\n      if (mes) fechaPagina = `${tituloMatch[3]}-${mes}-${tituloMatch[1].padStart(2,'0')}`;\n    }\n  }\n  if (!fechaPagina) continue; // Saltar si no hay fecha\n  \n  // 2. Buscar todos los bloques de sorteos manualmente (contando profundidad de divs)\n  const inicioBloque = '<div class=\"col-sm-6 col-md-4 col-lg-16 mb-5\">';\n  let pos = 0;\n  while ((pos = html.indexOf(inicioBloque, pos)) !== -1) {\n    const start = pos + inicioBloque.length;\n    // Encontrar el cierre del div principal (al mismo nivel)\n    let depth = 1;\n    let end = start;\n    while (depth > 0 && end < html.length) {\n      const nextOpen = html.indexOf('<div', end);\n      const nextClose = html.indexOf('</div>', end);\n      if (nextClose === -1) break;\n      if (nextOpen !== -1 && nextOpen < nextClose) {\n        depth++;\n        end = nextOpen + 4; // avanzar después de '<div'\n      } else {\n        depth--;\n        end = nextClose + 6; // avanzar después de '</div>'\n      }\n    }\n    const bloque = html.substring(start, end - 6); // contenido sin el </div> final\n    pos = end;\n    \n    // 3. Extraer número y animal del <h4>\n    const h4Match = bloque.match(/<h4[^>]*>(\\d{1,2}|00)\\s+([a-zA-Záéíóúñ]+)<\\/h4>/i);\n    if (!h4Match) continue;\n    const numero = h4Match[1];\n    const animalNombre = ANIMALITOS[numero] || h4Match[2];\n    \n    // 4. Extraer hora del <h5>\n    const h5Match = bloque.match(/<h5[^>]*>(?:Lotto Activo\\s*)?(\\d{1,2}:\\d{2}\\s*[AP]M)/i);\n    if (!h5Match) continue;\n    const hora = h5Match[1].toUpperCase();\n    \n    // 5. Determinar franja horaria\n    let franja = \"tarde\";\n    const h = parseInt(hora.split(\":\")[0]);\n    if (hora.includes(\"AM\")) franja = \"mañana\";\n    else if (h >= 5 && h !== 12) franja = \"noche\";\n    \n    resultados.push({\n      json: {\n        loteria: \"Lotto Activo\",\n        fecha: fechaPagina,\n        hora: hora,\n        franja: franja,\n        numero: numero,\n        animal: animalNombre\n      }\n    });\n  }\n}\n\n// 6. Ordenar por fecha y hora (ascendente: antiguo → reciente)\nresultados.sort((a, b) => {\n  const dateA = new Date(`${a.json.fecha} ${a.json.hora.replace(/(AM|PM)/, ' $1')}`);\n  const dateB = new Date(`${b.json.fecha} ${b.json.hora.replace(/(AM|PM)/, ' $1')}`);\n  return dateA - dateB;\n});\n\nreturn resultados.length > 0 ? resultados : [{ json: { error: \"No se encontraron datos reales.\" } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        0
      ],
      "id": "fe5b38a6-5e7a-4722-ad92-9196cb1d2f77",
      "name": "Setear DatosLG"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://loteriadehoy.com/animalito/lottoactivo/resultados/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "es-ES,es;q=0.9"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "fecha",
              "value": "={{ $json.fecha_busqueda }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": false,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        0
      ],
      "id": "08fd7797-a6ae-416b-bc41-042e01e22854",
      "name": "Extraer Lotto Activo",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Lotto Activo"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "ed7d9c63-1a85-4431-bff3-0c55d3c936b9",
      "name": "Tabla Lotto Activo",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "jPck2vhQNZ1XZsTw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dias = 3; \nconst resultados = [];\n\nconst ahora = new Date();\n\nconst offsetVenezuela = -4; \nconst fechaLocal = new Date(ahora.getTime() + (offsetVenezuela * 60 * 60 * 1000));\n\nfor (let i = 0; i < dias; i++) {\n  const f = new Date(fechaLocal);\n  f.setDate(fechaLocal.getDate() - i);\n  \n  const año = f.getUTCFullYear();\n  const mes = String(f.getUTCMonth() + 1).padStart(2, '0');\n  const dia = String(f.getUTCDate()).padStart(2, '0');\n  const fechaStr = `${año}-${mes}-${dia}`;\n  \n  resultados.push({\n    json: {\n      fecha_busqueda: fechaStr\n    }\n  });\n}\n\nreturn resultados;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "7b778566-3ae7-4d66-87b9-da38183b1711",
      "name": "Frecuencia HorariaLG"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// EVALUADOR DE PREDICCIONES vs RESULTADOS REALES\n// Salida: 5 booleanos por modelo + 1 booleano de fecha + números acertados\n// ============================================================\n\n// ── 1. CONFIGURACIÓN DE ENTRADA ──────────────────────────────\nconst realesRaw = $('Setear DatosLG').all().map(i => i.json);\nconst prediccionesRaw = $('Tabla Lotto Activo').all().map(i => i.json);\nconst MODELOS = ['Gemma 31B', 'Gemma 26B', 'Mistral', 'Llama 3.3 70B', 'GPT'];\n\n// ── 2. NORMALIZAR HORA ───────────────────────────────────────\nfunction normalizarHora(horaStr) {\n  if (!horaStr) return null;\n  let h = horaStr.trim().toUpperCase().replace(/\\s/g, '');\n  h = h.replace(':00', '');\n  if (h.match(/^\\d[AP]M$/)) h = '0' + h;\n  return h;\n}\n\n// ── 3. MAPA DE RESULTADOS REALES ─────────────────────────────\nconst realMap = {};\nrealesRaw.forEach(r => {\n  if (!r.fecha || !r.hora || r.numero === undefined) return;\n  const fecha = r.fecha;\n  const hora = normalizarHora(r.hora);\n  if (!realMap[fecha]) realMap[fecha] = {};\n  realMap[fecha][hora] = String(r.numero);\n});\n\n// ── 4. OBTENER PREDICCIÓN MÁS RECIENTE ───────────────────────\nfunction parseFechaPrediccion(fechaStr) {\n  if (!fechaStr) return null;\n  const match = fechaStr.match(/(\\w+)\\s+(\\d+)(?:st|nd|rd|th)?\\s+(\\d{4})/);\n  if (!match) return null;\n  const meses = {\n    January:'01', February:'02', March:'03', April:'04', May:'05', June:'06',\n    July:'07', August:'08', September:'09', October:'10', November:'11', December:'12'\n  };\n  const mes = meses[match[1]];\n  if (!mes) return null;\n  const dia = match[2].padStart(2, '0');\n  const año = match[3];\n  return `${año}-${mes}-${dia}`;\n}\n\nlet latestPred = null;\nlet latestDate = null;\nfor (const p of prediccionesRaw) {\n  const fecha = parseFechaPrediccion(p['Fecha Prediccion']);\n  if (fecha && (!latestDate || fecha > latestDate)) {\n    latestDate = fecha;\n    latestPred = p;\n  }\n}\n\n// ── 5. PARSEAR SECUENCIAS (con soporte para ausencia de predicciones) ──\nfunction parseSequence(val) {\n  if (!val) return null;\n  try {\n    const obj = typeof val === 'string' ? JSON.parse(val) : val;\n    const res = {};\n    for (const [h, n] of Object.entries(obj)) {\n      res[h] = String(n);\n    }\n    return res;\n  } catch {\n    return null;\n  }\n}\n\n// Inicializar estructuras por si no hay predicciones\nlet prediccionesPorModelo = {};\nlet hayPredicciones = false;\nlet fechaPrediccion = null;\n\nif (latestPred) {\n  hayPredicciones = true;\n  fechaPrediccion = latestDate;\n  for (const modelo of MODELOS) {\n    prediccionesPorModelo[modelo] = parseSequence(latestPred[modelo]);\n  }\n} else {\n  // Sin predicciones: asignamos null a todos los modelos\n  for (const modelo of MODELOS) {\n    prediccionesPorModelo[modelo] = null;\n  }\n}\n\n// ── 6. EVALUAR ACIERTOS Y GUARDAR NÚMEROS ACERTADOS ──────────\nconst realesDeEsaFecha = (fechaPrediccion && realMap[fechaPrediccion]) ? realMap[fechaPrediccion] : {};\nconst aciertos = {};\nconst numerosPredichos = {};\nconst aciertosNumeros = {};\n\nfor (const modelo of MODELOS) {\n  const seq = prediccionesPorModelo[modelo];\n  if (!seq) {\n    aciertos[modelo] = 0;\n    numerosPredichos[modelo] = [];\n    aciertosNumeros[modelo] = [];\n    continue;\n  }\n  let hits = 0;\n  const nums = [];\n  const aciertosNums = [];\n  for (const [hora, numPred] of Object.entries(seq)) {\n    nums.push(numPred);\n    if (realesDeEsaFecha[hora] === numPred) {\n      hits++;\n      aciertosNums.push({ hora, numero: numPred });\n    }\n  }\n  aciertos[modelo] = hits;\n  numerosPredichos[modelo] = nums;\n  aciertosNumeros[modelo] = aciertosNums;\n}\n\n// ── 7. VARIABLES DE DECISIÓN ─────────────────────────────────\nconst acerto_gemma31b = aciertos['Gemma 31B'] > 0;\nconst acerto_gemma26b = aciertos['Gemma 26B'] > 0;\nconst acerto_mistral   = aciertos['Mistral'] > 0;\nconst acerto_llama     = aciertos['Llama 3.3 70B'] > 0;\nconst acerto_gpt       = aciertos['GPT'] > 0;\n\n// Comparar fecha de predicción con fecha actual (si hay fecha)\nconst hoy = new Date().toISOString().slice(0,10);\nconst fecha_coincide_hoy = (fechaPrediccion === hoy);\n\n// ── 8. SALIDA FINAL (siempre completa) ───────────────────────\nreturn [{\n  json: {\n    // Bandera que indica si se encontraron predicciones\n    hay_predicciones: hayPredicciones,\n\n    // 5 booleanos por modelo (si no hay predicciones, todos false)\n    acerto_gemma31b,\n    acerto_gemma26b,\n    acerto_mistral,\n    acerto_llama,\n    acerto_gpt,\n\n    // Booleano de fecha (false si no hay predicciones)\n    fecha_coincide_hoy,\n\n    // Números que acertó cada modelo (vacíos si no hay predicciones)\n    aciertos_numeros_por_modelo: aciertosNumeros,\n\n    // Información extra\n    fecha_prediccion: fechaPrediccion || null,\n    aciertos_por_modelo: aciertos,\n    numeros_por_modelo: numerosPredichos,\n    total_predicciones: hayPredicciones ? 12 : 0,\n    total_aciertos: hayPredicciones ? Object.values(aciertos).reduce((s, v) => s + v, 0) : 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        0
      ],
      "id": "0ad5e236-860b-4493-a157-a8814b332ca5",
      "name": "Comparador"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.acerto_gemma31b }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "11aadf35-8fbd-49de-a8a5-09d4b6250072"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Gemma 31B A"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "07fa394e-e0e4-49ff-88af-408c33026e90",
                    "leftValue": "={{ $json.acerto_gemma31b }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Gemma 31B N"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8cbcb7ab-2ce9-48cf-99ac-93cbc3fc9a1f",
                    "leftValue": "={{ $json.acerto_gemma26b }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Gemma 26B A"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6463f41d-ca4b-4c19-abd5-13ed28192106",
                    "leftValue": "={{ $json.acerto_gemma26b }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Gemma 26B N"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "91e7326f-6e90-4355-87eb-a8ddb39a70e1",
                    "leftValue": "={{ $json.acerto_mistral }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mistral A"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "45f20b02-5094-451d-83ea-c6dfbca37b93",
                    "leftValue": "={{ $json.acerto_mistral }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mistral N"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b8d5281d-c356-4aec-b1bb-77302c108ad3",
                    "leftValue": "={{ $json.acerto_llama }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Llama A"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fdecb6b1-903d-42e2-a227-7f2f5ffc3b21",
                    "leftValue": "={{ $json.acerto_llama }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Llama N"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2f9660f5-6362-48fa-ba6b-83a3effed88a",
                    "leftValue": "={{ $json.acerto_gpt }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GPT A"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3332a3dc-d0b5-4cec-95e1-ead288357b23",
                    "leftValue": "={{ $json.acerto_gpt }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GPT N"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4bb5f63c-8f28-4df3-ba05-ae22ba4bf6e0",
                    "leftValue": "={{ $json.fecha_prediccion }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fecha Diferente"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "60f52474-004e-47dc-ae12-b6c618ec5d7c",
                    "leftValue": "={{ $json.fecha_prediccion }}",
                    "rightValue": "null",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No hay predicciones"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1312,
        -160
      ],
      "id": "3f9f730a-e5d3-4a1c-b580-6c17337b7c32",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "y1zerL8Wnkxjeis2",
          "mode": "id",
          "cachedResultUrl": "/workflow/y1zerL8Wnkxjeis2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1888,
        -752
      ],
      "id": "02cca818-1527-40d4-8330-19ccd37f7c54",
      "name": "Ejecutar Anailis Gemma"
    },
    {
      "parameters": {
        "chatId": "5907641608",
        "text": "=📢 ¡RESULTADOS CONFIRMADOS! 🎯\n\nNuestras predicciones siguen mandando en la jugada. Comprueba tú mismo cómo coinciden con los últimos sorteos:\n\n✨ La Granjita: La secuencia no falla, ¡seguimos cobrando! 🐎\n\n🐎Gemma 31B acerto los cantidad de numeros: {{ $('Comparador').item.json.aciertos_numeros_por_modelo['Gemma 31B'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1888,
        -976
      ],
      "id": "db8bea3d-9018-432f-8533-5cd8f61f2ad3",
      "name": "Gemma 31 B",
      "webhookId": "8b58c8d9-2c22-4f0c-96c5-64bc151bc1bb",
      "credentials": {
        "telegramApi": {
          "id": "36DsrlrI13LQunxS",
          "name": "LottoActivo"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5907641608",
        "text": "=📢 ¡RESULTADOS CONFIRMADOS! 🎯\n\nNuestras predicciones siguen mandando en la jugada. Comprueba tú mismo cómo coinciden con los últimos sorteos:\n\n✨ La Granjita: La secuencia no falla, ¡seguimos cobrando! 🐎\n\n🐎Gemma 26B acerto los cantidad de numeros: {{ $('Comparador').item.json.aciertos_numeros_por_modelo['Gemma 26B'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1888,
        -544
      ],
      "id": "b84f32f5-7e26-490d-bf0c-744087f27e4c",
      "name": "Gemma 26B",
      "webhookId": "8b58c8d9-2c22-4f0c-96c5-64bc151bc1bb",
      "credentials": {
        "telegramApi": {
          "id": "36DsrlrI13LQunxS",
          "name": "LottoActivo"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5907641608",
        "text": "=📢 ¡RESULTADOS CONFIRMADOS! 🎯\n\nNuestras predicciones siguen mandando en la jugada. Comprueba tú mismo cómo coinciden con los últimos sorteos:\n\n✨ La Granjita: La secuencia no falla, ¡seguimos cobrando! 🐎\n\n🐎Mistral acerto los cantidad de numeros: {{ $('Comparador').item.json.aciertos_numeros_por_modelo.Mistral }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1888,
        -160
      ],
      "id": "455e68ec-d8d3-42c5-b91a-18e51ac6dd7a",
      "name": "Mistral",
      "webhookId": "8b58c8d9-2c22-4f0c-96c5-64bc151bc1bb",
      "credentials": {
        "telegramApi": {
          "id": "36DsrlrI13LQunxS",
          "name": "LottoActivo"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9ChEfzj9n6VBWbJa",
          "mode": "id",
          "cachedResultUrl": "/workflow/9ChEfzj9n6VBWbJa"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1888,
        16
      ],
      "id": "2efa8752-2379-42cc-8cee-d1e261358940",
      "name": "Ejecutar Analisis Mistral/Llama"
    },
    {
      "parameters": {
        "chatId": "5907641608",
        "text": "=📢 ¡RESULTADOS CONFIRMADOS! 🎯\n\nNuestras predicciones siguen mandando en la jugada. Comprueba tú mismo cómo coinciden con los últimos sorteos:\n\n✨ La Granjita: La secuencia no falla, ¡seguimos cobrando! 🐎\n\n🐎Llama acerto los cantidad de numeros: {{ $('Comparador').item.json.aciertos_numeros_por_modelo['Llama 3.3 70B'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1888,
        256
      ],
      "id": "b6323ac7-f49c-4a81-b634-ab53aa10bfd3",
      "name": "Llama",
      "webhookId": "8b58c8d9-2c22-4f0c-96c5-64bc151bc1bb",
      "credentials": {
        "telegramApi": {
          "id": "36DsrlrI13LQunxS",
          "name": "LottoActivo"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5907641608",
        "text": "=📢 ¡RESULTADOS CONFIRMADOS! 🎯\n\nNuestras predicciones siguen mandando en la jugada. Comprueba tú mismo cómo coinciden con los últimos sorteos:\n\n✨ La Granjita: La secuencia no falla, ¡seguimos cobrando! 🐎\n\n🐎Llama acerto los cantidad de numeros: {{ $('Comparador').item.json.aciertos_numeros_por_modelo.GPT }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1888,
        640
      ],
      "id": "c668d4c0-cf86-49f7-b49e-954215adcd09",
      "name": "GPT 120B",
      "webhookId": "8b58c8d9-2c22-4f0c-96c5-64bc151bc1bb",
      "credentials": {
        "telegramApi": {
          "id": "36DsrlrI13LQunxS",
          "name": "LottoActivo"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "id3bG25yRxhbGJpv",
          "mode": "id",
          "cachedResultUrl": "/workflow/id3bG25yRxhbGJpv"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1888,
        832
      ],
      "id": "5bcfc063-4f1b-4f84-8ff0-3ff76323b70a",
      "name": "Execute Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Extraer Lotto Activo": {
      "main": [
        [
          {
            "node": "Setear DatosLG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Frecuencia HorariaLG": {
      "main": [
        [
          {
            "node": "Extraer Lotto Activo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Tabla Lotto Activo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tabla Lotto Activo": {
      "main": [
        [
          {
            "node": "Frecuencia HorariaLG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setear DatosLG": {
      "main": [
        [
          {
            "node": "Comparador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comparador": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Gemma 31 B",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ejecutar Anailis Gemma",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gemma 26B",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ejecutar Anailis Gemma",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mistral",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ejecutar Analisis Mistral/Llama",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Llama",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ejecutar Analisis Mistral/Llama",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GPT 120B",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ejecutar Anailis Gemma",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ejecutar Analisis Mistral/Llama",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ejecutar Anailis Gemma",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ejecutar Analisis Mistral/Llama",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2d989d0f-8719-44c1-8f2d-e6d14f1cbac4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e8fb98e03063dba1b0801be881001ee9e700be6fce2fcaef942fe54b1819ca7c"
  },
  "id": "XQpawZmPaEd0tuJ6",
  "tags": []
}